<app-header></app-header>
<h1>{{ title }}</h1>
 
<div *ngIf="data">
  <div class="book-container">
    <div class="book-item" *ngFor="let book of data" (click)="viewBook(book.bookName)" style="cursor: pointer;">
      <img class="book-image" [src]="book.imagePath" alt="{{ book.bookName }} image" />
      <div class="book-details">
        <h2 class="book-title">{{ book.bookName }}</h2>
        <p class="book-author">By {{ book.author }}</p>
        <p class="book-description">{{ book.description }}</p>
        <p class="book-year"><strong>Year Published:</strong> {{ book.yearPublished }}</p>
      </div>
    </div>
  </div>
</div>