<app-header></app-header>
<body>
    <div class="container location-page">
        <h2>Find Us Here</h2>
        <p>Our library is located at 2115 Summit Ave, St Paul, MN 55105. We welcome visitors during our open hours from 8am-4pm. Check the map below to find us easily!</p>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2824.028134648066!2d-93.1897082!3d44.943096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f629eea5588e79%3A0x8e52ebb470dba87b!2sUniversity%20of%20St.%20Thomas!5e0!3m2!1sen!2sus!4v1724955317257!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>
 
<footer>
    <p>&copy; 2024 Book Library. All rights reserved.</p>
</footer>
