
<body>
    <app-header></app-header>
 
    <div class="container location-page">
        <h2>Find Us Here</h2>
        <p>Our library is located at 2115 Summit Ave, St Paul, MN 55105. We welcome visitors during our open hours from 8am-4pm. Check the map below to find us easily!</p>
        <div class="map-container">
            <iframe src="https://maps.app.goo.gl/KQfTpRgVDg34Ty9i8"></iframe>
        </div>
    </div>
 
    <footer>
        <p>&copy; 2024 Book Library. All rights reserved.</p>
    </footer>
</body>