<div class="background">

    <body>
        <app-header></app-header>
        <header>
            <h1>About Us</h1>
        </header>

        <div class="container about-page">
            <h2>Welcome to Our Book Library!</h2>
            <p>We are a community library committed to providing access to a wide range of books for readers of all ages
                and
                interests. Our mission is to foster a love of reading and support lifelong learning. We offer a variety
                of
                events to help engage to readers of the community as well as an extensive book selection for you to
                reserve
                from!</p>
            <img src="/assets/students-listening-in-academic-library-setting.webp" alt="Library Image">
        </div>

    </body>
</div>

<footer>
    <p>&copy; 2024 Book Library. All rights reserved.</p>
</footer>