<div class="background">
    <body>
      <app-header></app-header>
      <header>
        <h1>About Us</h1>
      </header>
  
      <div class="container about-page">
        <h2>Welcome to Our Book Library!</h2>
        <p>We are a community library committed to providing access to a wide range of books for readers of all ages and interests. Our mission is to foster a love of reading and support lifelong learning. We offer a variety of events to help engage readers of the community as well as an extensive book selection for you to reserve from!</p>
        <img src="/assets/students-listening-in-academic-library-setting.webp" alt="Library Image">
        <link rel="stylesheet" href="about-us.component.scss">
      </div>
  
      <section class="our-mission">
        <h3>Our Mission</h3>
        <p>At our library, we believe in the power of books to transform lives and communities. Our mission is to provide a welcoming space where everyone can discover new stories, learn from different perspectives, and share in the joy of reading. We strive to support lifelong learning by offering resources, programs, and services that meet the needs of our diverse community.</p>
      </section>
  
      <section class="our-values">
        <h3>Our Values</h3>
        <p><strong>Inclusivity:</strong> We welcome everyone and celebrate diversity in all forms.</p>
        <p><strong>Access:</strong> We provide free and equitable access to information, resources, and services.</p>
        <p><strong>Community:</strong> We believe in the power of community and work to create connections among readers, authors, and neighbors.</p>
        <p><strong>Innovation:</strong> We embrace change and continually seek new ways to meet the needs of our patrons.</p>
        <p><strong>Respect:</strong> We respect the rights and dignity of all individuals and foster a safe, welcoming environment for all.</p>
      </section>
  
      <section class="contact-us">
        <h3>Contact Us</h3>
        <p>If you have any questions or need assistance, feel free to reach out to us:</p>
        <p><strong>Phone:</strong> (123) 456-7890</p>
        <p><strong>Email:</strong> <a href="mailto:info@booklibrary.com">info@booklibrary.com</a></p>
      </section>
    </body>
  </div>
  
  <footer>
    <p>&copy; 2024 Book Library. All rights reserved.</p>
  </footer>
