<p>Please enter your information to reserve book.</p>
<div class="form">
    <form class="test-form" #reserveForm="ngForm" (ngSubmit)="reservedMessage(reserveForm)">
        <div class="control">
            <label>Library Id:   <input type="text" name="id"  placeholder="Id" required /></label>
        </div><br>
        <div class="control">
            <label>First Name:<input type="text" name="firstName" placeholder="First Name"  required  /></label>
        </div><br>
        <div class="control">
            <label>Last Name: <input type="text" name="lastName" placeholder="Last Name" required /></label>
        </div><br>
        <div class="control">
            <label>Email Address: <input type="text" name="Email" placeholder="Email Address" required/></label>
        </div><br>
        <input type="submit" value="Reserve" />
    </form>
<br>
<button [routerLink]="['/books']">Back to books</button>
</div>
<div class="reserved">
<p *ngIf="messageText">{{messageText}}</p>
</div>

